{% extends 'layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/films.css' %}">
{% endblock %}

{% block content %}
<div class="app">
    <section class="hero">
        <img class="hero-image" src="{% static 'images/films_hero_banner.jpg' %}" alt="Герой-баннер">
        <div class="hero-content">
            <h1 class="hero-title">New top content here</h1>
        </div>
    </section>
    <section class="section">
        <div class="section-header">
            <h2 class="section-title">Continue watching</h2>
            <button class="filter-btn">Filter by genres</button>
        </div>
        <div class="movie-container">
            <div class="movie-card"></div>
            <div class="movie-card"></div>
            <div class="movie-card"></div>
            <div class="movie-card"></div>
            <div class="movie-card"></div>
        </div>
    </section>
    <hr class="divider">
    <!--SECTION 2: Recommendations-->
    <section class="section">
        <h2 class="section-title" style="margin-bottom:16px;">Recommendations for you</h2>
        <div class="movie-container">
            {% for item in recommendations %}
            <div class="movie-card">
                {% if item.poster and item.poster.name %}
                <img src="{{ item.poster.url }}" alt="{{ item.title }}">
                {% else %}
                <img src="{% static 'images/default-poster.jpg' %}" alt="{{ item.title }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
    <hr class="divider">
    <!-- SECTION 3: Top detectives -->
    <section class="section">
        <h2 class="section-title" style="margin-bottom:16px;">Top detectives of this year</h2>
        <div class="movie-container">
            {% for item in detectives %}
            <div class="movie-card">
                {% if item.poster and item.poster.name %}
                <img src="{{ item.poster.url }}" alt="{{ item.title }}">
                {% else %}
                <img src="{% static 'images/default-poster.jpg' %}" alt="{{ item.title }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
    <hr class="divider">
    <!--  SECTION 4: Top trillers -->
    <section class="section">
        <h2 class="section-title" style="margin-bottom:16px;">Top trillers of this year</h2>
        <div class="movie-container">
            {% for item in thrillers %}
            <div class="movie-card">
                {% if item.poster and item.poster.name %}
                <img src="{{ item.poster.url }}" alt="{{ item.title }}">
                {% else %}
                <img src="{% static 'images/default-poster.jpg' %}" alt="{{ item.title }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
    <hr class="divider">
    <!-- SECTION 5: Sci-pop + Romantic -->
    <section class="section">
        <div class="double-container">
            <div class="double-column">
                <h2 class="section-title" style="margin-bottom:12px;">Sci-pop films</h2>
                <div class="movie-card-large">

                </div>
            </div>

            <div class="double-column">
                <h2 class="section-title" style="margin-bottom:12px;">Romantic films</h2>
                <div class="movie-card-large">

                </div>
            </div>
        </div>
    </section>
    <hr class="divider">
    <!-- SECTION 6: Action + Cartoons -->
    <section class="section">
        <div class="double-container">
            <div class="double-column">
                <h2 class="section-title" style="margin-bottom:12px;">Action films</h2>
                <div class="movie-card-large">

                </div>
            </div>

            <div class="double-column">
                <h2 class="section-title" style="margin-bottom:12px;">Cartoons</h2>
                <div class="movie-card-large">

                </div>
            </div>
        </div>
    </section>
    <hr class="divider">
    <!-- FOOTER -->
    <footer class="footer">
        <p class="footer-phone">Questions? Call 1-844-505-2993</p>
        <div class="footer-links">
            <a href="#">FAQ</a>
            <a href="#">Help Center</a>
            <a href="#">Account</a>
            <a href="#">Media Center</a>
            <a href="#">Investor Relations</a>
            <a href="#">Jobs</a>
            <a href="#">Netflix Shop</a>
            <a href="#">Redeem Gift Cards</a>
            <a href="#">Buy Gift Cards</a>
            <a href="#">Ways to Watch</a>
            <a href="#">Terms of Use</a>
            <a href="#">Privacy</a>
            <a href="#">Cookie Preferences</a>
            <a href="#">Corporate Information</a>
            <a href="#">Contact Us</a>
            <a href="#">Speed Test</a>
            <a href="#">Legal Notices</a>
            <a href="#">Only on Netflix</a>
            <a href="#">Do Not Sell or Share My Personal Information</a>
            <a href="#">Ad Choices</a>
        </div>
    </footer>

</div>
{% endblock %}