{% extends 'layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/films.css' %}">
{% endblock %}

{% block content %}
<div class="app">
    <section class="hero">
        <img class="hero-image" src="{% static 'images/films_hero_banner.jpg' %}" alt="Герой-баннер">
        <div class="hero-content">
            <h1 class="hero-title" data-i18n="films.hero.title">New top content here</h1>
        </div>
    </section>
    <section class="section">
        <div class="section-header">
            <h2 class="section-title" data-i18n="films.continueWatching">Continue watching</h2>
            <button class="filter-btn" data-i18n="films.filterByGenres">Filter by genres</button>
        </div>
        <div class="movie-container">
            <div class="movie-card"></div>
            <div class="movie-card"></div>
            <div class="movie-card"></div>
            <div class="movie-card"></div>
            <div class="movie-card"></div>
        </div>
    </section>
    <hr class="divider">
    <!--SECTION 2: Recommendations-->
    <section class="section">
        <h2 class="section-title" style="margin-bottom:16px;"  data-i18n="films.recommendations">Recommendations for you</h2>
        <div class="movie-container">
            {% for item in recommendations %}
            <div class="movie-card">
                {% if item.poster and item.poster.name %}
                <img src="{{ item.poster.url }}" alt="{{ item.title }}">
                {% else %}
                <img src="{% static 'images/default-poster.jpg' %}" alt="{{ item.title }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
    <hr class="divider">
    <!-- SECTION 3: Top detectives -->
    <section class="section">
        <h2 class="section-title" style="margin-bottom:16px;" data-i18n="films.topDetectives">Top detectives of this year</h2>
        <div class="movie-container">
            {% for item in detectives %}
            <div class="movie-card">
                {% if item.poster and item.poster.name %}
                <img src="{{ item.poster.url }}" alt="{{ item.title }}">
                {% else %}
                <img src="{% static 'images/default-poster.jpg' %}" alt="{{ item.title }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
    <hr class="divider">
    <!--  SECTION 4: Top trillers -->
    <section class="section">
        <h2 class="section-title" style="margin-bottom:16px;" data-i18n="films.topThrillers">Top trillers of this year</h2>
        <div class="movie-container">
            {% for item in thrillers %}
            <div class="movie-card">
                {% if item.poster and item.poster.name %}
                <img src="{{ item.poster.url }}" alt="{{ item.title }}">
                {% else %}
                <img src="{% static 'images/default-poster.jpg' %}" alt="{{ item.title }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
    <hr class="divider">
    <!-- SECTION 5: Sci-pop + Romantic -->
    <section class="section">
        <div class="double-container">
            <div class="double-column">
                <h2 class="section-title" style="margin-bottom:12px;" data-i18n="films.sciPop">Sci-pop films</h2>
                <div class="movie-card-large">
                    {% if sci_fi %}
                    {% if sci_fi.poster %}
                    <img src="{{ sci_fi.poster.url }}" alt="{{ sci_fi.title }}">
                    {% else %}
                    <img src="{% static 'images/default-poster.jpg' %}" alt="{{ sci_fi.title }}">
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="double-column">
                <h2 class="section-title" style="margin-bottom:12px;" data-i18n="films.romantic">Romantic films</h2>
                <div class="movie-card-large">
                    {% if romance %}
                    {% if romance.poster %}
                    <img src="{{ romance.poster.url }}" alt="{{ romance.title }}">
                    {% else %}
                    <img src="{% static 'images/default-poster.jpg' %}" alt="{{ romance.title }}">
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <hr class="divider">
    <!-- SECTION 6: Action + Cartoons -->
    <section class="section">
        <div class="double-container">
            <div class="double-column">
                <h2 class="section-title" style="margin-bottom:12px;" data-i18n="films.action">Action films</h2>
                <div class="movie-card-large">
                    {% if action %}
                    {% if action.poster %}
                    <img src="{{ action.poster.url }}" alt="{{ action.title }}">
                    {% else %}
                    <img src="{% static 'images/default-poster.jpg' %}" alt="{{ action.title }}">
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="double-column">
                <h2 class="section-title" style="margin-bottom:12px;" data-i18n="films.cartoons">Cartoons</h2>
                <div class="movie-card-large">
                    {% if cartoons %}
                    {% if cartoons.poster %}
                    <img src="{{ cartoons.poster.url }}" alt="{{ cartoons.title }}">
                    {% else %}
                    <img src="{% static 'images/default-poster.jpg' %}" alt="{{ cartoons.title }}">
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <hr class="divider">
  
</div>
{% endblock %}