{% extends 'layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <section class="hero">
        <img class="hero-image" src="{% static 'images/news_hero_banner.png' %}" alt="News hero">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1 class="hero-title" data-i18n="news.hero.title">News tailored to your interests</h1>
        </div>
        <div class="hero-arrow">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.5 36V1M18.5 1L1 18.5M18.5 1L36 18.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </section>
    <section class="news-section">
        <h2 class="section-title" data-i18n="news.interesting">You might find this interesting</h2>
        <div class="news-grid">
            <article class="news-card">
                <div class="news-image">
                    <img src="{% static 'images/news5.jpg' %}" alt="News 5">
                    <span class="news-date">24/03</span>
                </div>
                <div class="news-body">
                    <h3 class="news-headline" data-i18n="news.headline">The director of John Wick4 announced the 5th film</h3>
                    <p class="news-excerpt" data-i18n="news.excerpt">Lorem ipsum dolor sit amet consectetur. Ut tempus nibh ultrices lobortis lacus turpis diam. Nulla tristique sagittis amet a sem pellentesque lorem</p>
                </div>
            </article>
            <article class="news-card">
                <div class="news-image">
                    <img src="{% static 'images/news6.jpg' %}" alt="News 6">
                    <span class="news-date">24/03</span>
                </div>
                <div class="news-body">
                    <h3 class="news-headline" data-i18n="news.headline">The director of John Wick4 announced the 5th film</h3>
                    <p class="news-excerpt" data-i18n="news.excerpt">Lorem ipsum dolor sit amet consectetur. Ut tempus nibh ultrices lobortis lacus turpis diam. Nulla tristique sagittis amet a sem pellentesque lorem</p>
                </div>
            </article>
            <article class="news-card">
                <div class="news-image">
                    <img src="{% static 'images/news7.jpg' %}" alt="News 7">
                    <span class="news-date">24/03</span>
                </div>
                <div class="news-body">
                    <h3 class="news-headline" data-i18n="news.headline">The director of John Wick4 announced the 5th film</h3>
                    <p class="news-excerpt" data-i18n="news.excerpt">Lorem ipsum dolor sit amet consectetur. Ut tempus nibh ultrices lobortis lacus turpis diam. Nulla tristique sagittis amet a sem pellentesque lorem</p>
                </div>
            </article>
        </div>
        <div class="news-grid">
            <article class="news-card">
                <div class="news-image">
                    <img src="{% static 'images/news5.jpg' %}" alt="News 5">
                    <span class="news-date">24/03</span>
                </div>
                <div class="news-body">
                    <h3 class="news-headline" data-i18n="news.headline">The director of John Wick4 announced the 5th film</h3>
                    <p class="news-excerpt" data-i18n="news.excerpt">Lorem ipsum dolor sit amet consectetur. Ut tempus nibh ultrices lobortis lacus turpis diam. Nulla tristique sagittis amet a sem pellentesque lorem</p>
                </div>
            </article>
            <article class="news-card">
                <div class="news-image">
                    <img src="{% static 'images/news6.jpg' %}" alt="News 6">
                    <span class="news-date">24/03</span>
                </div>
                <div class="news-body">
                    <h3 class="news-headline" data-i18n="news.headline">The director of John Wick4 announced the 5th film</h3>
                    <p class="news-excerpt" data-i18n="news.excerpt">Lorem ipsum dolor sit amet consectetur. Ut tempus nibh ultrices lobortis lacus turpis diam. Nulla tristique sagittis amet a sem pellentesque lorem</p>
                </div>
            </article>
            <article class="news-card">
                <div class="news-image">
                    <img src="{% static 'images/news7.jpg' %}" alt="News 7">
                    <span class="news-date">24/03</span>
                </div>
                <div class="news-body">
                    <h3 class="news-headline" data-i18n="news.headline">The director of John Wick4 announced the 5th film</h3>
                    <p class="news-excerpt" data-i18n="news.excerpt">Lorem ipsum dolor sit amet consectetur. Ut tempus nibh ultrices lobortis lacus turpis diam. Nulla tristique sagittis amet a sem pellentesque lorem</p>
                </div>
            </article>
        </div>
        <div class="news-grid">
            <article class="news-card">
                <div class="news-image">
                    <img src="{% static 'images/news5.jpg' %}" alt="News 5">
                    <span class="news-date">24/03</span>
                </div>
                <div class="news-body">
                    <h3 class="news-headline" data-i18n="news.headline">The director of John Wick4 announced the 5th film</h3>
                    <p class="news-excerpt" data-i18n="news.excerpt">Lorem ipsum dolor sit amet consectetur. Ut tempus nibh ultrices lobortis lacus turpis diam. Nulla tristique sagittis amet a sem pellentesque lorem</p>
                </div>
            </article>
            <article class="news-card">
                <div class="news-image">
                    <img src="{% static 'images/news6.jpg' %}" alt="News 6">
                    <span class="news-date">24/03</span>
                </div>
                <div class="news-body">
                    <h3 class="news-headline" data-i18n="news.headline">The director of John Wick4 announced the 5th film</h3>
                    <p class="news-excerpt" data-i18n="news.excerpt">Lorem ipsum dolor sit amet consectetur. Ut tempus nibh ultrices lobortis lacus turpis diam. Nulla tristique sagittis amet a sem pellentesque lorem</p>
                </div>
            </article>
            <article class="news-card">
                <div class="news-image">
                    <img src="{% static 'images/news7.jpg' %}" alt="News 7">
                    <span class="news-date">24/03</span>
                </div>
                <div class="news-body">
                    <h3 class="news-headline" data-i18n="news.headline">The director of John Wick4 announced the 5th film</h3>
                    <p class="news-excerpt" data-i18n="news.excerpt">Lorem ipsum dolor sit amet consectetur. Ut tempus nibh ultrices lobortis lacus turpis diam. Nulla tristique sagittis amet a sem pellentesque lorem</p>
                </div>
            </article>
        </div>
    </section>

</div>
{% endblock %}