{% extends 'layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/notification.css' %}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <section class="hero">
        <img class="hero-image" src="{% static 'images/notification_hero.png' %}" alt="Уведомления">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1 class="hero-title" data-i18n="notification.hero.title">Your special notifications</h1>
        </div>
    </section>
    <section class="notifications-section">
        <h2 class="section-title" data-i18n="notification.latest">The latest</h2>
        <div class="notifications-grid">
            <div class="notification-card">
                <p class="notification-text" data-i18n="notification.textSeries">New series of Stranger things already at our website!</p>
            </div>
            <div class="notification-card">
                <p class="notification-text" data-i18n="notification.textSequel">New sequel to Stranger things already at our website!</p>
            </div>
            <div class="notification-card">
                <p class="notification-text" data-i18n="notification.textSeries">New series of Stranger things already at our website!</p>
            </div>
            <div class="notification-card">
                <p class="notification-text" data-i18n="notification.textSequel">New sequel to Stranger things already at our website!</p>
            </div>
            <div class="notification-card">
                <p class="notification-text" data-i18n="notification.textSeries">New series of Stranger things already at our website!</p>
            </div>
            <div class="notification-card">
                <p class="notification-text" data-i18n="notification.textSequel">New sequel to Stranger things already at our website!</p>
            </div>
            <div class="notification-card">
                <p class="notification-text" data-i18n="notification.textSeries">New series of Stranger things already at our website!</p>
            </div>
            <div class="notification-card">
                <p class="notification-text" data-i18n="notification.textSequel">New sequel to Stranger things already at our website!</p>
            </div>
        </div>
    </section>

</div>
{% endblock %}